.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  gap: 16px;
  border-radius: 10px;
  margin: 10px auto;
  padding: 16px 24px;
}

.infoText {
  font-size: 1.8rem;
  font-weight: bold;
}

.timeSelectionBox {
  display: grid;
  grid-template-columns: repeat(3, minmax(70px, 216px));
  grid-template-rows: repeat(4, 110px);
  gap: 10px;
}

.timeSelectionBtn {
  text-align: center;
  max-width: 216px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #22201b;
  transition: background-color 0.2s;

  &:hover {
    background-color: #2e2b24;
  }

  &:active {
    background-color: #413d33;
  }

  p {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    color: #b9b9b9;
  }
}

.customTimeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.input {
  padding: 3px 5px;
  background-color: #22201b;
  color: white;
  border: 1px solid#22201b;
  border-radius: 3px;
}

.customTimeBtn {
  padding: 5px 8px;
  border-radius: 5px;
  color: #b9b9b9;
  background-color: #22201b;

  &:hover {
    background-color: #0e0c0b;
  }
}

@media (max-width: 475px) {
  .infoText {
    font-size: 1.6rem;
  }

  .timeSelectionBtn {
    p {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 393px) {
  .timeSelectionBtn {
    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 300px) {
  .infoText {
    font-size: 1.4rem;
  }
}
