.dot {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    background-color: #000000;
    border-radius: 100%;
  }
}

.capture {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  opacity: 0.2;
  border-radius: 100%;
}

@media (max-width: 460px) {
  .dot::after {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 320px) {
  .dot::after {
    width: 15px;
    height: 15px;
  }
}
