.dot {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    opacity: 0.8;
    background-color: #829769;
    border-radius: 100%;
  }
}
