.outerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.innerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
}

.pieceBtn {
  max-width: 100px;

  svg {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
  }
}
