.share_url_box {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 24px 0;
}

.share_url_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 620px;
  margin: 0 16px;
  padding: 24px;
  position: relative;
  background-color: #22201b;
  border-radius: 5px;
}

.share_url_notifier {
  font-size: 1.55rem;
  font-weight: 500;
}

.share_url {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.url {
  color: #b9b9b9;
}

.share_url_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 35px;
  padding: 3px 8px;
  position: relative;
  background-color: #161512;
  border-radius: 5px;
  position: absolute;
  inset: 12px 2% 0 85%;

  &.copied {
    color: transparent;
    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 14px;
      border-right: 3px solid #f3f3f3;
      border-bottom: 3px solid #f3f3f3;
      transform: rotate(45deg);
    }
  }

  &:hover {
    background-color: #0e0c0b;
  }

  &:active {
    background-color: #000000;
  }
}

@media (max-width: 480px) {
  .share_url_notifier {
    font-size: 1.15rem;
  }

  .share_url {
    padding-top: 16px;
  }

  .url {
    font-size: 0.85rem;
  }
}
